.Titel1 {
	-fx-text-fill: #B10034;
	-fx-font: 14pt "System";
}

.Titel2 {
	-fx-text-fill: #B10034;
	-fx-font: 12pt "System";
}

.Titel3 {
	-fx-text-fill: #B10034;
	-fx-font: 10pt "System";
	-fx-font-weight: Bold;
}

.SolutionText {
	-fx-font: 12pt "System";
}

.Scenario1 {
	-fx-text-fill: #F3612D;
	-fx-font: 12pt "System";
}

.Scenario2 {
	-fx-text-fill: #FBA51B;
	-fx-font: 12pt "System";
}

.InfoText {
	-fx-text-fill: #D6D6D6;
	-fx-font: 4pt "System";
}

.IBoxText {
	-fx-text-fill: #D6D6D6;
	-fx-font: 8pt "System";
}

.menu-bar {
    -fx-background-color: #aeb5ba, linear-gradient(to bottom, #ecf4fa 0%, #ced4d9 100%);
    -fx-background-insets: 0, 0 0 1 0;
}

.menu-bar .menu .label {
    -fx-text-fill: #2d3e4c;
}

.default-color0.chart-series-line { -fx-stroke: #F3622D; }
.default-color1.chart-series-line { -fx-stroke: #66BD66; }
.default-color2.chart-series-line { -fx-stroke: #FBA71B; }
.default-color3.chart-series-line { -fx-stroke: #41A9C9; }
.default-color4.chart-series-line { -fx-stroke: #4258C9; }
.default-color5.chart-series-line { -fx-stroke: #9A42C8; }
.default-color6.chart-series-line { -fx-stroke: #C84164; }
.default-color7.chart-series-line { -fx-stroke: #888888; }
 
.default-color0.chart-line-symbol { -fx-background-color: #F3622D, white; }
.default-color1.chart-line-symbol { -fx-background-color: #66BD66, white; }
.default-color2.chart-line-symbol { -fx-background-color: #FBA71B, white; }
.default-color3.chart-line-symbol { -fx-background-color: #41A9C9, white; }
.default-color4.chart-line-symbol { -fx-background-color: #4258C9, white; }
.default-color5.chart-line-symbol { -fx-background-color: #9A42C8, white; }
.default-color6.chart-line-symbol { -fx-background-color: #C84164, white; }
.default-color7.chart-line-symbol { -fx-background-color: #888888, white; }
